<h1> Year Index </h1>
<hr />

<div id="years">
  <table class="table_list">
    <tr>
      <th>Season</th>
    </tr>
  <% @years.each do |year| %>
    <tr class="clickable-row" onclick="location.href='<%= year_weeks_path(year.id) %>'">
      <td><%= year.year %></td>
    </tr>
  <% end %>
  </table>
</div>
  <%= link_to 'New Season', new_year_path %>
</div>