<h1> <%= @year.year %> Season </h1>

<div id="weeks">
  <table class="table_list">
    <% @weeks.each do |week| %>
      <tr>
	<td><%= link_to "Week #{week.week}", week_games_path(week.id) %> </td>
      </tr>
    <% end %>
  </table>
</div>
<%= link_to "Year Index", years_path %>