<h1> <%= @year.year %> Season </h1>

<div id="weeks">
  <table class="table_list">
    <% @weeks.each do |week| %>
      <tr>
	<td><%= link_to "Week #{week.week}", edit_year_week_path(@year.id, week.id) %> </td>
      </tr>
    <% end %>
    <% @weeks.each do |week| %>
      <% p week.lines %>
      <tr>
	<td><%= link_to "Week #{week.week} Lines", edit_week_line_path(week.id, week.lines) %>
      </tr>
    <% end %>
  </table>
</div>
<%= link_to "Year Index", years_path %>