/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require jquery.timeentry
 *= require jquery-ui-1.8.17.custom
*/

body {
  background-color: #4B7399;
}
#container {
  width: 50%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}
#user_nav {
  float: right;
  font-size: 12px;
}
.links{
  padding-top:20px;
}
.alert{
  font-size:x-large;
  color:red;
}

