.spread_field{
  width:80px;
}

.game_label{
  padding-right:15px;
}
#lines_edit_table{
  margin-left: auto;
  margin-right: auto;
}
#lines_header{
  text-align:center;
}
.vs_label{
  padding-left:7px;
}
.home_team{
  padding-left:12px;
}
.time{
  padding-left:12px;
}
.spread_td{
  padding-left:12px;
}