
.datepicker{
  width:90px;
}
.timepicker{
  width:90px;
}
#edit_game_header{
  text-align:center;
}
#game_edit_table{
  margin-left: auto;
  margin-right: auto;
}
.actions{
  margin: 30px auto 0px 300px; text-align: center;
}
#creating_games_week_table{
  display:none;
}
.links_week_edit{
  float:left;
}
.submit_week_edit{
  float:right;
  padding-bottom: 30px;
}